/*
ALPS lab
May 2022
__________
This is the style guide for html elements that we manipulate in index.html and
index.js. All other css style attributes are defined in the shared folder and should
not be tampered with. 
*/

/* define 2x2 grid that will hold the four stimuli images */
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1rem;
}

.grid-container > div {
	text-align: center;
	padding: 0px 0px;
	font-size: 30px;
}

.img-scale-down {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    overflow: hidden;
}

/* Define a red border that will be put around the target image */
.redSquare {
	border-width: 10px;
	border-style: solid;
	border-color: #b30000;
}

/*
	Define the four locations within the 2x2 grid
	loc1 = top left;
	loc2 = top right
	loc3 = bottom left;
	loc 4 = bottom right
*/
.loc1 {
	max-width: 270px;
	max-height: 270px;
}

.loc2 {
	max-width: 270px;
	max-height: 270px;
}

.loc3 {
	max-width: 270px;
	max-height: 270px;
}

.loc4 {
	max-width: 270px;
	max-height: 270px;
}

/* error messages should have slightly larger text and appear in red color*/
.err {
	padding-top: 20px;
	color: red;
	font-size: 22;
}
